<div class="details-container details-logo">
    <img src="https://dsa.ugent.be/api/verenigingen/<%= abbreviation(item) %>/logo?size=huge" alt="<%= item[:naam] %>">
</div>
<div class="details-container details-contact">
    <% if item[:deelname_link] %>
        <a href="<%= item[:deelname_link] %>"><%= item[:deelname_link] %></a>
    <% end %>
    <div class="contact-container">
        <p><a href="<%= item[:contact] %>"><%= item[:contact] %></a></p>
        <p><a href="<%= item[:website] %>"><%= item[:website] %></a></p>
    </div>
    <div class="social-container">
        <ul>
            <% if item[:social] %>
                <% for social in item[:social] %>
                    <li class="social-<%= social[:platform] %>">
                    <a href="<%= social[:link] %>"><%= social[:link] %></a>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>
<div class="details-container details-photo">
    <div class="showcase-container">
    <% if item[:showcase] %>
        <% for showcase_img in item[:showcase] %>
            <div class="showcase-image">
                <img src="<%= showcase_img[:photo]%>" alt="showcase img"></img>
            </div>
        <% end %>
    <% end %>
    <div class="thema-container">
    <% if item[:themas] %>
        <p><span class="thema-title">Thema's:</span>
            <ul>
                <% for thema in item[:themas] %>
                    <li><%= thema %></li>
                <% end %>
            </ul>
        </p>
    <% end %>
    </div>
</div>
<% if item[:verenigingen] %>
    <div class="details-container details-verenigingen">
        <% for vereniging in item[:verenigingen] %>
            <div class="vereninging-container">
                <p><%= vereniging[:naam] %></p>
                <img src="<%= vereniging[:photo] %>" alt="vereniging logo"></img>
            </div>
        <% end %>
    </div>
<% end %>
