<a class="link" href="<%=item.path%>">
    <div class="link__img">
        <img src="<%= image_url(item, size="small") %>" alt="<%= item[:naam] %>">
    </div>
    <div class="link__content">
        <h3 class="link__title">
            <%= item[:titel] || item[:naam] %>
        </h3>
        <p class="link__text">
            <%= text_segment(item.compiled_content) %>
        </p>
    </div>
</a>
