<h1> <%= question[:vraag] %> </h1>
<select id="<%= question[:vraag] %>">
<% for a in question[:antwoord] %>
    <option value="<%= a[:tekst] %>"><%= a[:tekst] %></option>
    <% if a.key?("vraag") %>
        <div id=<%= a[:vraag]%>>
            <%= render '/partials/question.*', question: a  %>
        </div>
    <% end %>
<% end %>
</select>

<script>
   document.getElementById(<%= item[:vraag]%>).addEventListener('change', (event) => {
        var tekst = event.target.value;
        document.getElementById(<%= item[:vraag]%>)
        <%= render '/partials/question.*' %>
    })
</script>