<h2> <%= question[:vraag] %> </h2>
<select id="<%= question[:vraag] %>">
    <option value="" selected="selected disabled hidden">Maak uw keuze</option>
    <% for answer in question[:antwoorden]%>
        <option value='<%= answer[:tekst] + (answer[:vraag] || "") %>'>
            <%= answer[:tekst] %>
        </option>
    <% end %>
</select>
<% for answer in question[:antwoorden]%>
    <% if answer[:vraag] %>
        <%# Should store all sub-questions with a reference to their parent question in the data-parent
            attribute, however, these atrtibutes remain empty. %>
        <div id='<%= answer[:tekst] + answer[:vraag] %>' style="display:none;" data-parent="<% question[:vraag] %>">
            <%= render '/partials/question.*', question: answer  %>
        </div>
    <% end %>
<% end %>

<script>
(function() {
    let last_answered = null;

    // Create list of all subquestions
    const sub_questions = {};
    const question_answers = {};

    <% for answer in question[:antwoorden] %>
        <% if answer[:vraag] %>
            sub_questions['<%= answer[:tekst] + answer[:vraag] %>'] = document.getElementById('<%= answer[:tekst] + answer[:vraag] %>');
        <% end %>

        question_answers['<%= answer[:tekst] + (answer[:vraag] || "") %>'] = [];

        <% if answer[:verenigingen] %>
            <% for vereniging in answer[:verenigingen] %>
                question_answers['<%= answer[:tekst] + (answer[:vraag] || "") %>'].push(
                    '<%= vereniging[:naam] %>'
                );
            <% end %>
        <% end %>

    <% end %>

    console.log('<%= (question[:vraag] || "") + (question[:tekst] || "") %>');
    console.log(question_answers);

    document.getElementById("<%= question[:vraag] %>").addEventListener('change', (event) => {
        if (last_answered && sub_questions[last_answered]) {
            sub_questions[last_answered].style.display = "none";
        }

        for (let ver of question_answers[event.target.value] || []) {
            console.log(ver);
            if (answer_values[ver]) {
                answer_values[ver] += 1;
            } else {
                answer_values[ver] = 1;
            }
        }

        for (let ver of question_answers[last_answered] || []) {
            answer_values[ver] -= 1;
        }

        console.log(answer_values);
        
        const quest = sub_questions[event.target.value];
        last_answered = event.target.value;
        if (quest) {
            delete quest.style.removeProperty("display");
        }
    });

})();
</script>
