<h1> <%= question[:vraag] %> </h1>

<select id="<%= question[:vraag] %>">
<option value="empty">Selecteer een optie...</option>
<% for a in question[:antwoorden] %>
    <option value="<%= a[:tekst] %>"><%= a[:tekst] %></option>
    <% if a[:vraag]%>
       <div id="<% a[:vraag]%>">
           <%#= render '/partials/question.*', question: a %>
       </div>
    <% end %>
<% end %>
</select>
<div id="subquestion">
</div>
<script>
    console.log("test");
    document.getElementById("<%= question[:vraag] %>").addEventListener('change', (event) => {
        console.log("change");
        document.getElementById("subquestion").innerHTML = "<p>test</p>";
    })
</script>
