<div class="split-2">
  <div class="split-2-1">
    <h2 class="split-title">Thema's</h2>
    <div class="tile-grid">
      <% for thema in themas %>
        <a class="tile clickable tile--medium" href="<%= thema.path %>">
          <div class="tile__image tile__image--svg tile__image--blue">
            <%= @items["/assets/themas_icon/"+thema[:identifier]+".svg"].compiled_content %>
          </div>
          <p class="tile__title tile__title--medium"> <%= thema[:naam] %> </p>
        </a>
      <% end %>
    </div>
  </div>
  <div class="split-2-2">
    <h2 class="split-title">Konventen</h2>
    <div class="tile-grid">
      <% for item in konventen %>
        <a class="tile clickable tile--medium" href="<%= item.path %>">
          <div class="tile__image">
            <img src="https://dsa.ugent.be/api/verenigingen/<%= abbreviation(item) %>/logo?size=medium" alt="<%= item[:naam] %>">
          </div>
          <p class="tile__title tile__title--medium"> <%= item[:titel] || item[:naam] %> </p>
        </a>
      <% end %>
    </div>
  </div>
</div>

<style>
  .flex-horz {
    display: flex; /* or inline-flex */
    flex-direction: row;
  }
  .horz-child {
    flex-basis: auto;
    flex-grow: 1;
  }
</style>
