<div class="flex-horz">
  <div class="horz-child">
    <h1> Thema's </h1>
    <ul>
      <% for thema in themas %>
        <img src="<%= image_url(thema) %>" alt="<%= thema[:naam] %>">
        <li> <%= link_to(thema[:naam], thema) %> </li>
      <% end %>
    </ul>
  </div>
  <div class="horz-child">
    <h1> Konventen en projecten </h1>
    <ul>
      <% for item in konventen_and_projecten %>
        <img src="<%= image_url(item) %>" alt="<%= item[:naam] %>">
        <li> <%= link_to(item[:naam], item) %> </li>
      <% end %>
    </ul>
  </div>
</div>

<style>
  .flex-horz {
    display: flex; /* or inline-flex */
    flex-direction: row;
  }
  .horz-child {
    flex-basis: auto;
    flex-grow: 1;
  }
</style>
