<div>
  <div class="horz-child">
    <h1> Thema's </h1>
    <ul>
      <% for thema in themas %>
        <li> <%= thema[:naam] %> </li>
      <% end %>
    </ul>
  </div>
  <div>
    <h1> Konventen en projecten </h1>
    <div class="tile-grid">
      <% for item in konventen %>
        <div class="tile clickable tile--medium" onclick="window.location.href = '<%= item.path %>'">
          <img class="tile__image" src="https://dsa.ugent.be/api/verenigingen/<%= abbreviation(item) %>/logo?size=medium" alt="<%= item[:naam] %>">
          <p class="tile__title tile__title--medium"> <%= item[:titel] || item[:naam] %> </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
  .flex-horz {
    display: flex; /* or inline-flex */
    flex-direction: row;
  }
  .horz-child {
    flex-basis: auto;
    flex-grow: 1;
  }
</style>
